*.iml
**/.idea/
**/buck-out
**/buck-cache
**/.buckd
**/gen
**/bin
**/.settings
**/.svn
**/BUCK
**/sim_*
**/classes
LinearAllocXmlResult.xml
app/SECONDARY_DEX_PATTERN_LIST
*.pyc
*.proto
TagMapping.txt
*.apk
release-tools/buildinfo
buck_gen/
.#
